.red {
  background-color: #ED0A3F;
  color: white;
}
.red-orange {
  background-color: #FF5349;
  color: white;
}
.orange {
  background-color: #FF8833;
  color: white;
}
.yellow-orange {
  background-color: #FFAE42;
  color: white;
}
.yellow {
  background-color: #FBE870;
  color: black;
}
.yellow-green {
  background-color: #BEE64B;
  color: black;
}
.green {
  background-color: #3AA655;
  color: white;
}
.blue {
  background-color: #4570E6;
  color: white;
}
.light-blue {
  background-color: #6CDAE7;
  color: white;
}
.dark-blue {
  background-color: #00468C;
  color: white;
}
.pink {
  background-color: #E667CE;
  color: white;
}
.purple {
  background-color: #6B3FA0;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.brown {
  background-color: #87421F;
  color: white;
}
.black {
  background-color: black;
  color: white;
}
