<div class="layout flex-row">
  {{bench-field
      players=men
      playerClass=team.primary
      class='flex-30'
  }}

  {{bench-field
      players=women
      playerClass=team.secondary
      class='flex-30'
  }}
  {{!-- add  player --}}
</div>
