<div class="bench-field layout-column">
  {{#each players as |player|}}
    <div class="player-slice flex-10">
      {{player.name
          onClick=(action 'click' player)
      }}
    </div>
  {{/each}}
</div>
