<div class="player-slice layout-column">
  <span class="flex"></span>
  <span class="flex-55">{{player.handle}}</span>
  <span class="flex-20">Points: {{pointsPlayed.length}}</span>
  <span class="flex-20">+/-: {{plusMinus}}</span>
  <span class="flex"></span>
</div>
