<div class="game-recap layout-row">
  <h3 class="flex-50 centered">
    {{#link-to "game.recap.points"}}Points{{/link-to}}
  </h3>
  <h3 class="flex-50 centered">
    {{#link-to "game.recap.players"}}Players{{/link-to}}
  </h3>
</div>

{{outlet}}
