<div class="game layout-column">
  <div class="flex-25 layout-row">
    {{team-scoreboard
        class='flex-50'
        score=model.squadScore
        team=model.squad
    }}

    {{team-scoreboard
        class='flex-50'
        score=model.oppScore
        team=model.opponent
    }}
  </div>

  {{outlet}}
 </div>
