<div class="team flex layout-column">
  <div class="flex-15">
    <h1 class="team-name {{team.primary}}">{{team.name}}</h1>
  </div>

  <div class="centered flex-10">
    <h2 class="basic-link">
      {{#link-to "team.roster" team}}Roster{{/link-to}}
      {{#link-to "team.games" team}}Games{{/link-to}}
      {{#link-to "team.stats" team}}Stats{{/link-to}}
      {{#link-to "team.edit" team}}Edit{{/link-to}}
    </h2>
  </div>

  {{outlet}}
</div>
