<div class="team flex layout-column">
  <div class="flex-15">
    <h1 class="team-name {{team.primary}}">{{team.name}}</h1>
  </div>

  <div class="centered flex-10">
    <h2>Roster  Games  Stats  Edit</h2>
  </div>

  {{outlet}}
</div>
